.header-line{
    padding: 10px;
}
.btn-add-action-item{
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4a90e2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tasks-widget.expired{
    color: red !important;
}

tasks-widget{
    height: calc(35vh);
    overflow-y: auto;
}